<nav class="navbar">
  <div class="navbar-left">
    <span class="brand">BiografWeb</span>
    <a routerLink="/movies" class="nav-link">FILM</a>
  </div>

  <div class="navbar-right">
    <div class="dropdown">
      <button class="dropdown-btn">
        ADMIN ▾
      </button>

      <div class="dropdown-content">
        <a routerLink="/admin/locations">Biografer & sale</a>
        <a routerLink="/admin/program">Film & program</a>
                <a routerLink="/admin/bookings">Bookings</a>
      </div>
    </div>
  </div>
</nav>