<div class="booking-card">
  <h2>Bestil billetter</h2>

<form (ngSubmit)="submit(bookingForm)" #bookingForm="ngForm">
  <label for="email">Email</label>
  <input
    type="text"
    placeholder="Email"
    [(ngModel)]="customerName"
    name="customerName"
    required
    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    #email="ngModel"
  />
  <!-- Fejlmeddelelse -->
  <div *ngIf="email.invalid && email.touched" class="error">
    <p *ngIf="email.errors?.['required']">Email er påkrævet.</p>
    <p *ngIf="email.errors?.['pattern']">Indtast en gyldig email.</p>
  </div>

  <label for="tickets">Antal billetter</label>
  <input
    type="number"
    [(ngModel)]="numberOfTickets"
    name="tickets"
    min="1"
    required
    #tickets="ngModel"
  />
  <div *ngIf="tickets.invalid && tickets.touched" class="error">
    <p *ngIf="tickets.errors?.['required']">Antal billetter er påkrævet.</p>
    <p *ngIf="tickets.errors?.['min']">Du skal bestille mindst 1 billet.</p>
  </div>

  <button type="submit" [disabled]="bookingForm.invalid">Bekræft</button>
</form>


  <div *ngIf="confirmed" class="confirmation">
    <p>
      Tak for købet! Du har bestilt {{ numberOfTickets }} billetter til filmen
      "{{ showTitle }}".
    </p>
  </div>
</div>